USE [master]
GO
/****** Object:  Database [to_do_capstone]    Script Date: 25/09/2025 11:25:31 p. m. ******/
CREATE DATABASE [to_do_capstone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'to_do_capstone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\to_do_capstone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'to_do_capstone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\to_do_capstone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [to_do_capstone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [to_do_capstone]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 25/09/2025 11:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_id] [int] IDENTITY(1,1) NOT NULL,
	[Category_name] [varchar](100) NOT NULL,
	[Category_description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryLog]    Script Date: 25/09/2025 11:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryLog](
	[HistoryLog_id] [int] IDENTITY(1,1) NOT NULL,
	[HistoryLog_Table_Change] [varchar](100) NOT NULL,
	[HistoryLog_Type_Change] [varchar](20) NULL,
	[HistoryLog_Change_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryLog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 25/09/2025 11:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Task_id] [int] IDENTITY(1,1) NOT NULL,
	[Category_id] [int] NOT NULL,
	[Task_name] [varchar](150) NOT NULL,
	[Task_Create_Date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskDetail]    Script Date: 25/09/2025 11:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskDetail](
	[TaskDetail_id] [int] IDENTITY(1,1) NOT NULL,
	[Task_id] [int] NOT NULL,
	[TaskDetail_Description] [varchar](max) NULL,
	[TaskDetail_Init_Date] [datetime2](7) NULL,
	[TaskDetail_End_Date] [datetime2](7) NULL,
	[TaskDetail_State] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskDetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskUser]    Script Date: 25/09/2025 11:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskUser](
	[TaskUser_id] [int] IDENTITY(1,1) NOT NULL,
	[Users_id] [int] NOT NULL,
	[Task_id] [int] NOT NULL,
	[Team_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskUser_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 25/09/2025 11:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Team_id] [int] IDENTITY(1,1) NOT NULL,
	[Team_name] [varchar](100) NOT NULL,
	[Team_description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/09/2025 11:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Users_id] [int] IDENTITY(1,1) NOT NULL,
	[Users_name] [varchar](100) NOT NULL,
	[Users_password] [nvarchar](256) NOT NULL,
	[Users_Create_Day] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Users_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistoryLog] ADD  DEFAULT (sysdatetime()) FOR [HistoryLog_Change_Date]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT (sysdatetime()) FOR [Task_Create_Date]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([Category_id])
REFERENCES [dbo].[Category] ([Category_id])
GO
ALTER TABLE [dbo].[TaskDetail]  WITH CHECK ADD FOREIGN KEY([Task_id])
REFERENCES [dbo].[Task] ([Task_id])
GO
ALTER TABLE [dbo].[TaskUser]  WITH CHECK ADD FOREIGN KEY([Task_id])
REFERENCES [dbo].[Task] ([Task_id])
GO
ALTER TABLE [dbo].[TaskUser]  WITH CHECK ADD FOREIGN KEY([Team_id])
REFERENCES [dbo].[Team] ([Team_id])
GO
ALTER TABLE [dbo].[TaskUser]  WITH CHECK ADD FOREIGN KEY([Users_id])
REFERENCES [dbo].[Users] ([Users_id])
GO
ALTER TABLE [dbo].[HistoryLog]  WITH CHECK ADD CHECK  (([HistoryLog_Type_Change]='Delete' OR [HistoryLog_Type_Change]='Update' OR [HistoryLog_Type_Change]='Insert'))
GO
ALTER TABLE [dbo].[TaskDetail]  WITH CHECK ADD CHECK  (([TaskDetail_State]='Canceled' OR [TaskDetail_State]='Done' OR [TaskDetail_State]='In Progress' OR [TaskDetail_State]='Pending'))
GO
USE [master]
GO
